.heading{
    
    text-align: center;
}

.container h1{
    color: grey;
    font-size: 20px;
    padding-left: 110px;
}

.container p{
    color: grey;
    font-size: 11px;
    padding-left: 120px;
}

.img-rounded{
    margin-top: 30px;
    margin-left: 35px;
}

.col-md-4 {
}   